<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="PostgreConnection"
     providerName="Npgsql"
     connectionString="Host=localhost; user id=postgres; password=***; database=Setur" />
  </connectionStrings>
  <appSettings>
  
  </appSettings>
</configuration>